<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hy.order.manager">

	<resultMap id="BaseResultMap" type="map">
		<id column="ORDER_ID" property="orderId" />
		<result column="PAYTRADENO" property="paytradeno" />
		<result column="ORDER_ADD_TIME" property="orderAddTime" />
		<result column="TRADE_DESC" property="tradeDesc" />
		<result column="TRADE_BALANCE" property="tradeBalance" />
		<result column="CONSUME_TYPE" property="consumeType" />
		<result column="PAY_ACCOUNT" property="payAccount" />
		<result column="RECEIVE_ACCOUNT" property="receiveAccount" />
		<result column="PAY_RESULT" property="payResult" />
		<result column="FINISH_TIME" property="finishTime" />
		<result column="STATUS" property="status" />
		<result column="REMARKS" property="remarks" />
		<result column="AGENCY_NUM" property="agencyNum" />
		<result column="AGENCY_NAME" property="agencyName" />
		<result column="PATID" property="patid" />
		<result column="CARDNO" property="cardno" />
		<result column="PAT_NAME" property="patName" />
		<result column="IDCARD" property="idcard" />
		<result column="HIS_RESULT" property="hisResult" />
		<result column="MERCHANT" property="merchant" />
		<result column="PAYCHANNEL" property="paychannel" />
		<result column="PAYWAY" property="payway" />
		<result column="PAY_TYPE" property="payType" />
	</resultMap>

	<sql id="table-name">yw_order</sql>

	<sql id="all-column">ORDER_ID ,PAYTRADENO ,date_format(ORDER_ADD_TIME,'%Y-%m-%d %H:%i:%S') as  ORDER_ADD_TIME,TRADE_DESC ,TRADE_BALANCE ,CONSUME_TYPE ,PAY_ACCOUNT ,RECEIVE_ACCOUNT ,PAY_RESULT ,date_format(FINISH_TIME,'%Y-%m-%d %H:%i:%S') as  FINISH_TIME,STATUS ,REMARKS ,AGENCY_NUM ,AGENCY_NAME ,PATID ,CARDNO ,PAT_NAME ,IDCARD ,HIS_RESULT ,MERCHANT ,PAYCHANNEL ,PAYWAY ,PAY_TYPE	</sql>

	<sql id="all-query-condition">
	   <if test="orderId != null and orderId != ''">
		   <![CDATA[	and INSTR(ORDER_ID, #{orderId})  > 0        ]]>
    </if>
		<if test="idcard != null and idcard != ''">
			<![CDATA[	and INSTR(IDCARD, #{idcard})  > 0        ]]>
		</if>
	   <if test="paytradeno != null and paytradeno != ''">
		   <![CDATA[	and INSTR(PAYTRADENO, #{paytradeno})  > 0        ]]>
    </if>
		<if test="add_time_value != null and add_time_value != ''">
			<![CDATA[ and date_format(ORDER_ADD_TIME, '%Y-%m-%d %H:%i:%S') >= #{startDate} and	date_format(ORDER_ADD_TIME, '%Y-%m-%d %H:%i:%S') <= #{endDate} ]]>
    </if>
	   <if test="tradeDesc != null and tradeDesc != ''">
	      and TRADE_DESC = #{tradeDesc}
    </if>
		<if test="tradeBalance != null">
	      and TRADE_BALANCE = #{tradeBalance}
    </if>
	   <if test="consumeType != null and consumeType != ''">
	      and CONSUME_TYPE = #{consumeType}
    </if>
	   <if test="payAccount != null and payAccount != ''">
		   <![CDATA[	and INSTR(PAY_ACCOUNT, #{payAccount})  > 0        ]]>
    </if>
	   <if test="receiveAccount != null and receiveAccount != ''">
		   <![CDATA[	and INSTR(RECEIVE_ACCOUNT, #{receiveAccount})  > 0        ]]>
    </if>
	   <if test="payResult != null and payResult != ''">
	      and PAY_RESULT = #{payResult}
    </if>
		<if test="finishTime != null and finishTime != ''">
	      and FINISH_TIME = #{finishTime}
    </if>
		<if test="status != null and status != ''">
	      and STATUS = #{status}
    </if>
	   <if test="remarks != null and remarks != ''">
	      and REMARKS = #{remarks}
    </if>
	   <if test="agencyNum != null and agencyNum != ''">
	      and AGENCY_NUM = #{agencyNum}
    </if>
	   <if test="agencyName != null and agencyName != ''">
		   <![CDATA[	and INSTR(AGENCY_NAME, #{agencyName})  > 0        ]]>
    </if>
	   <if test="patid != null and patid != ''">
		   <![CDATA[	and INSTR(PATID, #{patid})  > 0        ]]>
    </if>
	   <if test="cardno != null and cardno != ''">
		   <![CDATA[	and INSTR(CARDNO, #{cardno})  > 0        ]]>
    </if>
	   <if test="patName != null and patName != ''">
		   <![CDATA[	and INSTR(PAT_NAME, #{patName})  > 0        ]]>
    </if>
	   <if test="hisResult != null and hisResult != ''">
	      and HIS_RESULT = #{hisResult}
    </if>
	   <if test="merchant != null and merchant != ''">
		   <![CDATA[	and INSTR(MERCHANT, #{merchant})  > 0        ]]>
    </if>
	   <if test="paychannel != null and paychannel != ''">
	      and PAYCHANNEL = #{paychannel}
    </if>
	   <if test="payway != null and payway != ''">
	      and PAYWAY = #{payway}
    </if>
	   <if test="payType != null and payType != ''">
	      and PAY_TYPE = #{payType}
    </if>
		order by ORDER_ADD_TIME desc
	</sql>
	
	



	
	<!-- Query By Cond -->
	<select id="queryByCond" resultMap="BaseResultMap" parameterType="map">
		select <include refid="all-column" /> from <include refid="table-name"/> 
		where 1=1 <include refid="all-query-condition"/> 
	</select>
	<!-- Query By Cond -->
	<select id="queryListPageOrderManager" resultMap="BaseResultMap" parameterType="pp">
		select <include refid="all-column" /> from <include refid="table-name"/>
		where 1=1 <include refid="all-query-condition"/>
	</select>
	
	<!-- Update By Primary Key -->
	<update id="updateOrderByOrderId" parameterType="map">
		update <include refid="table-name" />
		<set>
	   <if test="orderId != null and orderId != ''">
		        ORDER_ID = #{orderId},
			</if>
				   <if test="paytradeno != null and paytradeno != ''">
		        PAYTRADENO = #{paytradeno},
			</if>
					<if test="orderAddTime != null">
		        ORDER_ADD_TIME = #{orderAddTime},
			</if>
				   <if test="tradeDesc != null and tradeDesc != ''">
		        TRADE_DESC = #{tradeDesc},
			</if>
					<if test="tradeBalance != null">
		        TRADE_BALANCE = #{tradeBalance},
			</if>
				   <if test="consumeType != null and consumeType != ''">
		        CONSUME_TYPE = #{consumeType},
			</if>
				   <if test="payAccount != null and payAccount != ''">
		        PAY_ACCOUNT = #{payAccount},
			</if>
				   <if test="receiveAccount != null and receiveAccount != ''">
		        RECEIVE_ACCOUNT = #{receiveAccount},
			</if>
				   <if test="payResult != null and payResult != ''">
		        PAY_RESULT = #{payResult},
			</if>

					<if test="status != null">
		        STATUS = #{status},
			</if>
				   <if test="remarks != null and remarks != ''">
		        REMARKS = #{remarks},
			</if>
				   <if test="agencyNum != null and agencyNum != ''">
		        AGENCY_NUM = #{agencyNum},
			</if>
				   <if test="agencyName != null and agencyName != ''">
		        AGENCY_NAME = #{agencyName},
			</if>
				   <if test="patid != null and patid != ''">
		        PATID = #{patid},
			</if>
				   <if test="cardno != null and cardno != ''">
		        CARDNO = #{cardno},
			</if>
				   <if test="patName != null and patName != ''">
		        PAT_NAME = #{patName},
			</if>
				   <if test="idcard != null and idcard != ''">
		        IDCARD = #{idcard},
			</if>
				   <if test="hisResult != null and hisResult != ''">
		        HIS_RESULT = #{hisResult},
			</if>
				   <if test="merchant != null and merchant != ''">
		        MERCHANT = #{merchant},
			</if>
				   <if test="paychannel != null and paychannel != ''">
		        PAYCHANNEL = #{paychannel},
			</if>
				   <if test="payway != null and payway != ''">
		        PAYWAY = #{payway},
			</if>
				   <if test="payType != null and payType != ''">
	            PAY_TYPE = #{payType},
			</if>
			FINISH_TIME = now()
					</set>
		<where>ORDER_ID = #{orderId}</where>
	</update>

	
</mapper>
