<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hy.account.manager" >
  
  <!-- 账户管理分页sql -->
  <select id="queryListPageAccountManager" parameterType="pp" resultType="map">
  	select
		u.out_platform_id,
		u.channel,
		u.des,
		u.create_time,
		u.update_time
	from
		yw_account u
	where 1=1
	<if test="out_platform_id != null and out_platform_id != ''">
		and instr(u.out_platform_id , #{out_platform_id,jdbcType=VARCHAR}) > 0
	</if>
	<if test="channel != null and channel != ''">
		and instr(u.channel , #{channel,jdbcType=VARCHAR}) > 0
	</if>
	<if test="startDate != null and endDate != null">
		and u.create_time BETWEEN DATE_FORMAT(#{startDate,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
		and DATE_FORMAT(#{endDate,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
	</if>
	order by u.create_time desc
  </select>
  
  <insert id="insertAccount" parameterType="com.yinhai.shh.account.domain.AccountDomain">
  	insert into yw_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="out_platform_id != null" >
          out_platform_id,
      </if>
      <if test="channel != null" >
          channel,
      </if>
      <if test="des != null" >
          DES,
      </if>
          CREATE_TIME,
          UPDATE_TIME
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="out_platform_id != null" >
        #{out_platform_id,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=TINYINT},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
        now(),
        now()
    </trim>
  </insert>
  
  <update id="updateAccountByAccountId" parameterType="com.yinhai.shh.account.domain.AccountDomain" >
    update yw_account
    <set >
        <if test="out_platform_id != null" >
            OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR},
        </if>
        <if test="channel != null" >
            CHANNEL = #{channel,jdbcType=VARCHAR},
        </if>
        <if test="des != null" >
            DES = #{des,jdbcType=VARCHAR},
        </if>
        UPDATE_TIME = now()
    </set>
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      AND CHANNEL = #{channel,jdbcType=VARCHAR}
  </update>
  
  <resultMap id="BaseResultMap" type="com.yinhai.shh.account.domain.AccountDomain" >
    <result column="OUT_PLATFORM_ID" property="out_platform_id" jdbcType="VARCHAR" />
    <result column="CHANNEL" property="channel" jdbcType="VARCHAR" />
    <result column="DES" property="des" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="create_time" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="update_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="querySingleAccount" parameterType="pp" resultMap="BaseResultMap">
    select 
    	 OUT_PLATFORM_ID, CHANNEL, DES, CREATE_TIME, UPDATE_TIME
    from yw_account
    where OUT_PLATFORM_ID = #{out_platform_id,jdbcType=VARCHAR}
      AND CHANNEL = #{channel,jdbcType=VARCHAR}
  </select>

</mapper>